<div class="login-wrapper" fxLayout="row wrap" fxLayoutAlign="center center" fxFlexFill >
    <mat-card>
    
      <mat-card-content>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    
    
    
          <!-- FLEX-CHILD - LEFT -->
          <div class="box" fxFlex="1 1" fxHide.lt-md>
            <img src="../../../../assets/images/preview.jpg" />
          </div>
    
          <!-- FLEX-CHILD - RIGHT -->
          <div class="box" fxFlex="1 1">
    
            <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
              <mat-form-field>
                <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
              </mat-form-field>
             
    
                <button mat-stroked-button color="primary" type="submit" *ngIf="!isLoading">Submit</button>
    
            </form>
    
           
    
    
    
        </div>
    
    
    
    
    
        <!-- < -->
      </mat-card-content>
    </mat-card>
    </div>