<div class="android-be-together-section mdl-typography--text-center">
  <div class="layer">
    <div class="flex-part">
      <!-- <img class="img" src="../../assets/images/imageedit_1_8427370839.png"> -->
      <mat-card class="textual-part">
        <mat-card-title class="main">
          <h3>LEARN ACCORDING TO YOUR CONVENIENCE !</h3>
        </mat-card-title>
        <br>
        <mat-card-subtitle id="description">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore accusantium facere facilis a voluptates in
          sit?
          Harum officia minima ipsam aliquam libero id repellendus praesentium maiores in soluta ipsum deserunt
          consequatur, velit atque dolore itaque repellat modi corrupti.
        </mat-card-subtitle>
        <div class="example-button-container">
          <button mat-flat-button class="main-button" aria-label="Example icon button with a home icon">
            START LEARNING
          </button>
          <button mat-flat-button class="main-button" aria-label="Example icon button with a home icon">
            EXPLORE COURSES
          </button>
        </div>
      </mat-card>

    </div>
  </div>


</div>

<!-- <div class="logo-font android-slogan">be together. not the same.</div> -->
<!-- <div class="logo-font android-sub-slogan">be yourself. do your thing. see what's going on. -->
<!-- </div> -->
<!-- <div class="logo-font android-create-character">
    <div class="logo-font android-sub-slogan">platform for full stack developers by a full stack developer
    </div>
  </div> -->

<!-- <a href="#screens">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i> 
      <mat-icon aria-hidden="false" aria-label="Example home icon">play_for_work</mat-icon>
    </button>
  </a> -->


<div class="Card-made">
  <div class="demo-card-square mdl-card mdl-shadow--2dp" (click)="redirect('course')">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, minima?</h2>

    </div>

    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="course">
        Courses
      </a>
    </div>
  </div>



  <div class="demo-card-square mdl-card mdl-shadow--2dp" (click)="redirect('quiz')">
    <div class="mdl-card__title quizes mdl-card--expand">
      <h2 class="mdl-card__title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, minima?</h2>
    </div>

    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="course">
        Quiz
      </a>
    </div>
  </div>

  <div class="demo-card-square mdl-card mdl-shadow--2dp" (click)="redirect('blog')">
    <div class="mdl-card__title blogs mdl-card--expand flip-card-inner">
      <h2 class="mdl-card__title-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, minima?</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="course">
        Blogs
      </a>
    </div>
  </div>




</div>

<div class="wrapper">
  
  <div class="cols">
			
      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
						<div class="inner">
							<p>C O U R S E S</p>
              <span>A video based learning experience </span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                
                <br>

                <button mat-flat-button class="btn-btn" (click)="redirect('course')">Explore</button>
              </p>
						</div>
					</div>
				</div>
      </div>
      

			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60)">
						<div class="inner">
							<p>Q U I Z</p>
              <span>Question answer based learning</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                
                <br>

                <button mat-flat-button class="btn-btn" (click)="redirect('quiz')">Explore</button>
              </p>
						</div>
					</div>
				</div>
      </div>


      <div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(https://images.unsplash.com/photo-1492551557933-34265f7af79e?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
						<div class="inner">
							<p>B L O G</p>
              <span>For Writing</span>
						</div>
					</div>
					<div class="back">
						<div class="inner">
						  <p>The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                
                <br>

                <button mat-flat-button class="btn-btn" (click)="redirect('blog')">Explore</button>
              </p>
						</div>
					</div>
				</div>
      </div>


		</div>
 </div>