<div>
  <app-main-nav>
    <router-outlet></router-outlet>

    <footer class="android-footer footer mdl-mega-footer footer">

      <div id="header">
        <main class="mdl-layout__content">
          <footer class="mdl-mini-footer footer-mini">
            <div class="response">
              <div class="mdl-mini-footer__left-section">

                <ul class="mdl-mini-footer__link-list">
                  <li><a routerLink="blogs/threads-in-nodejs-vs-java">Blog</a></li>
                  <li><a routerLink="about">About</a></li>
                  <li><a routerLink="about">Privacy</a></li>
                </ul>
              </div>
  
              <div class="mdl-mini-footer__right-section">
                <button class="btn-img"><img class="fb" src="../assets/images/icon-fb.png"></button>
                <button class="btn-img"><img class="fb" src="../assets/images/icon-insta.png"></button>
                <button class="btn-img"><img class="fb" src="../assets/images/icon-twitter.png"></button>
              </div>
            </div>
            

          </footer>
        </main>

      </div>





      <div class="mdl-mega-footer--middle-section">
        <p class="mdl-typography--font-light">© 2016 Arukas, DigitalGlobe</p>
        <p class="mdl-typography--font-light">Some features and devices may not be available in all areas</p>
      </div>

    </footer>

  </app-main-nav>
</div>