

.footer{
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color:white;
}
a:hover{
    color:white;
}
.footer-mini{
    background: none;
    color:white;
  }

  .response
  {
      display: flex;
      justify-content: space-around;
      
  }

  .btn-img{
      background:none;
      border:none;
      
  }

  .fb{
    width:4rem;
  }